<!DOCTYPE html>
{%extends 'books/base.html' %}
 {% block body_block %}
 <h1 class="bookheading">Books insert:</h1><br>
 <p class="text-50 mb-5">Please enter book details:</p>
 <div class="update" style="text-align: center; padding: 80px;">
 <form method="post">
    {%csrf_token%}
    Book_Title:<input type="text" name="title" value="{{e.title}}"><br><br><br>
    Book_Author:<input type="text" name="author" value="{{e.author}}"><br><br><br>
    Book_Publication_Date:<input type="date" name="publication_date" value="{{e.publication_date}}"><br><br><br>
    Book_Isbn:<input type="text" name="number" value="{{e.isbn}}"><br><br><br>
   <button type="button" class="btn">Submit</button>
 </form>

</div>
 {% endblock %}
 